name: test-build

# workflow trigger
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: CocoaPods Dependencies
      run: bundle exec pod install
    
    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_13.2.1.app
    
    - name: Clean Build Folder
      run: xcodebuild clean -project Sample.xcodeproj -scheme Sample
      
    - name: Build
      run: xcodebuild Sample -project Sample.xcodeproj -scheme Sample -destination 'platform=iOS Simulator, name=iPhone 8, OS=15.0'
